<ion-header>

    <ion-navbar>
        <ion-title>Galeria</ion-title>
    </ion-navbar>

</ion-header>



<ion-content padding (ionScrollEnd)="onScrollEnd($event)">

    <page-loading-spinner *ngIf="page.loading | async"></page-loading-spinner>

    <ion-row>
        <ion-col col-6 *ngFor="let image of page.data | async ">
            <img [src]="image.url" (click)="enviar(image.url)">
            <p></p>
        </ion-col>
    </ion-row>

    <!-- <p *ngIf="page.done"> No hay mas imagenes</p> -->


</ion-content>